<p>
  <a class="btn btn-primary" routerLink="/admin/products/new">New Product</a>
</p>

<p>
  <input #query (keyup)="filter(query.value)" class="form-control" type="text"
         placeholder="Search...">
</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{ p.payload.val().title }}</td>
      <td>{{ p.payload.val().price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>