<form #f="ngForm" (ngSubmit)="submit(f.value)">

  <div class="form-group">
    <label for="name">Course Name</label>
    <input required minlength="5" ngModel name="name" #name="ngModel" 
      (change)="log(name)" type="text" id="courseName" class="form-control">

    <div class="alert alert-danger" *ngIf="(name.dirty || name.touched) && name.invalid">
      <div *ngIf="name.errors.required">
        Name is required
      </div>

      <div *ngIf="name.errors.minlength">
        Name field should be at least {{ name.errors.minlength.requiredLength }} characters
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select required ngModel name="category" id="category" class="form-control" #category="ngModel">
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>

    <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
      <div *ngIf="category.errors.required">
        Category is required
      </div>
    </div>
  </div>

  <div class="checkbox">
    <label for="moneyBackGuarantee">
      <input type="checkbox" id="moneyBackGuarantee" ngModel name="hasGuarantee">
      30-day money-back guarantee?
    </label>
  </div>

  <p>
    {{ f.value | json }}
  </p>

  <button class="btn btn-primary" [disabled]="f.invalid">Create</button>

</form>